.content .list-content {
    display: flex;
    justify-content: space-between;
}

.content .list-content .img {
    object-fit: cover;
    align-items: center;
    justify-content: center;
    gap: 16px 14px;
    flex-wrap: wrap;
}
